include book-data

section.book
    .container
        .book__wrapper
            .book__picture
                img.book__img(src= book.image width= book.width height= book.height alt=`Обложка книги - ${book.title}`)
            .book__inner
                .book__top
                    .book__line
                        // svg иконка
                        span.book__star= book.star
                        span.book__grade #{book.grade} оценки
                    h1.book__title= book.title
                    p.book__author= book.author
                .book__description
                    .book__information
                        h2.book__heading Информация
                        ul.book__info-list
                            li.book__info-item
                                span.book__term= book.information[0].term
                                span.book__def= book.information[0].def
                            li.book__info-item
                                span.book__term= book.information[1].term
                                span.book__def= book.information[1].def
                            li.book__info-item
                                span.book__term= book.information[2].term
                                span.book__def= book.information[2].def
                            li.book__info-item
                                span.book__term= book.information[3].term
                                span.book__def= book.information[3].def
                            li.book__info-item
                                span.book__term= book.information[4].term
                                span.book__def= book.information[4].def
                            li.book__info-item
                                span.book__term= book.information[5].term
                                span.book__def= book.information[5].def
                            li.book__info-item
                                span.book__term= book.information[6].term
                                span.book__def= book.information[6].def
                            li.book__info-item
                                span.book__term= book.information[7].term
                                span.book__def= book.information[7].def
                            li.book__info-item
                                span.book__term= book.information[8].term
                                span.book__def= book.information[8].def
                    .book__annotation
                        h2.book__heading Аннотация
                        p.book__text= book.annotation
